<!-- <h1>New search</h1>
 <%= render 'form' %>
<%= link_to 'Back', searches_path %>
-->
<div class="span4">
</div>
<div class="span4">
	<div class="container-fluid">
		<div class="row-fluid">
			<input type="text" id="search_query_box" class="span12" placeholder="Enter search keyword" value="">
		</div>
	</div>
</div>
<div class="span4">
	<input type="button" id="submit_search_button" value="Submit Search" class="btn btn-primary span6">
</div>